@font-face {
    font-family: 'UtoFlower';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/utoFlower/UtoFlower.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/utoFlower/UtoFlower.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoFlower/UtoFlower.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoFlower/UtoFlower.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/utoFlower/UtoFlower.ttf') format("truetype");
    font-display: swap;
}